html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.main-content {
  flex: 1; /* Takes up the remaining space */
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box; /* Include padding in width */
}
